<!DOCTYPE html>
<html>
<title>hbs</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

{{> header}}

<p>this is projects page...</p>

{{!-- partials --}}
{{> footer }}
</body>
</html>
